#header {
  background-color: black;
  border-bottom: 5px solid red;
}

#header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  font-family: "Audiowide", cursive;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.name {
  color: azure;
}

#surname {
  color: #ff0000;
}

#header a {
  text-decoration: none;
  color: white;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(banner.jpg);
  height: 90vh;
  color: white;
  text-align: center;
  background-size: cover;
  font-family: "Audiowide", cursive;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

p {
  font-size: 30px;
}

#me {
  color: white;
  font-family: Arial, sans-serif;
  background-color: black;
  font-size: smaller;
}

#me h1 {
  color: red;
  text-align: center;
}
